<p id="notice"><%= notice %></p>

<h1>Spot Tracks</h1>
<p><%= link_to 'Sign in with Spotify', '/auth/spotify' %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spot_tracks.each do |spot_track| %>
      <tr>
        <td><%= link_to 'Show', spot_track %></td>
        <td><%= link_to 'Edit', edit_spot_track_path(spot_track) %></td>
        <td><%= link_to 'Destroy', spot_track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spot Track', new_spot_track_path %>
